<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection List</title>
</head>
<body>
    <button style="margin-left: 20px; margin-top: 10px;" type="button" class="btn1" onclick="goHome()">Home</button>
    <button style="margin-left: 20px;" type="button" class="btn1" onclick="goHome()">Go Back</button>
    <h1>Data Logs</h1>
    <table border="1" style="border-collapse: collapse;">
        <tr>
            <th style="padding: 8px;">Device</th>
            <th style="padding: 8px;">See Logs</th>
        </tr>
        {% for collection in collections %}
            <tr>
                <td style="padding: 8px;">{{ collection }}</td>
                <td style="padding: 8px;">
                    <button>
                        <a style="text-decoration: none;" href="{{ url_for('show_collection_data', collection_name=collection) }}"> open </a>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>

    <script>
        function goHome() {
            window.location.href = "{{ url_for('profile') }}";
        }
    </script>

</body>
</html>
