<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Data</title>
</head>
<body>
    <div style="display: flex;">
        <div style="margin-left: 20px; margin-top: 10px;">Live Data:
            <div id="messageBox"  style="margin-left: 30px; color: red;">
            </div> <br/>
        </div>
    </div>

    <script>
        // Function to update messages on the web page
        function updateMessages(messages) {
            var messageBox = document.getElementById("messageBox");
            messageBox.innerHTML = "";
            // Display the latest message in a table
            if (messages.length > 0) {
                var latestMessageString = messages[messages.length - 1];
                var latestMessage = JSON.parse(latestMessageString);
                var table = document.createElement("table");
                table.border = "1";
                // Create table header
                var headerRow = table.insertRow(0);
                for (var key in latestMessage) {
                    var headerCell = headerRow.insertCell(-1);
                    headerCell.textContent = key;
                }
                // Create table body with the latest message
                var bodyRow = table.insertRow(1);
                for (var key in latestMessage) {
                    var bodyCell = bodyRow.insertCell(-1);
                    // Format the timestamp if it's the 'Time Stamp' key
                    if (key === 'TimeStamp') {
                        var timestamp = new Date(((parseInt(latestMessage[key]))-19800)*1000);
                        bodyCell.textContent = timestamp.toLocaleString();
                    } else {
                        bodyCell.textContent = latestMessage[key];
                    }
                }
                messageBox.appendChild(table);
            }
        }

        // Function to fetch messages from the server
        function fetchMessages() {
        fetch('/get_messages')
            .then(response => response.json())
            .then(data => updateMessages(data.messages));
        }

        // Fetch messages on page load
        fetchMessages();
        // Update messages every 2 seconds (adjust as needed)
        setInterval(fetchMessages, 2000);
    </script>


</body>
</html>